DuoVOvb/Connected Services/MHSClient/DUO_VOBasisschema_Informatiediensten_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://duo.nl/schema/DUO_VOBasisschema_Informatiediensten_V1" xmlns:qf3="http://duo.nl/schema/NL:OCW:GWB:CORE" xmlns:qf4="http://duo.nl/schema/NL:OCW:GWB:BASIS" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://duo.nl/schema/DUO_VOBasisschema_Informatiediensten_V1" version="18565" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="KerntypenSchema.xsd" namespace="http://duo.nl/schema/NL:OCW:GWB:CORE" />
  <xsd:import schemaLocation="BasisSchema.xsd" namespace="http://duo.nl/schema/NL:OCW:GWB:BASIS" />
  <xsd:annotation>
    <xsd:documentation>XSD gegenereerd op 31-01-2018 16:16:35.937 op basis van commit-versie 18565 van het DUO_Service- en Berichtenboek ten behoeve van het servicecontract DUO_VOInformatiediensten_IdentificerenPersoonVAVO_V1. Gemaakt met H:\.magicdraw185\stateful16\data\reports\WSDL-XSD-script\XSD-WSDL-script_V0039.docx en XSD-script_V0039.xml</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Bedrijfsdocument">
    <xsd:annotation>
      <xsd:documentation>
Definitie: Een pakket gestructureerde gegevens
DefinitieHerkomst: DUO
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="identificatiecodeBedrijfsdocument" type="IdentificatieBedrijfsdocument" />
      <xsd:element minOccurs="1" maxOccurs="1" name="verzendendeInstantie" type="qf4:VerzendendeInstantie-v02" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ontvangendeInstantie" type="qf4:OntvangendeInstantie-v02" />
      <xsd:element minOccurs="1" maxOccurs="1" name="datumTijdBedrijfsdocument" type="qf4:DatumTijdBedrijfsdocument" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BinnenlandsAdres">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="straatnaam" type="qf4:Straatnaam-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="huisnummer" type="qf4:Huisnummer-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="huisletter" type="qf4:Huisletter" />
      <xsd:element minOccurs="0" maxOccurs="1" name="huisnummerToevoeging" type="qf4:HuisnummerToevoeging-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="huisnummerAanduiding" type="qf4:HuisnummerAanduiding-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="locatieOmschrijving" type="qf4:AanduidingLocatie" />
      <xsd:element minOccurs="0" maxOccurs="1" name="postcode" type="qf4:Postcode-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="plaatsnaam" type="qf4:Plaatsnaam-v02" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BuitenlandsAdres">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="adresregelBuitenland1" type="qf4:AdresregelBuitenland1-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="adresregelBuitenland2" type="qf4:AdresregelBuitenland2-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="adresregelBuitenland3" type="qf4:AdresregelBuitenland3-v02" />
      <xsd:element minOccurs="1" maxOccurs="1" name="landcode" type="qf4:Landcode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MetPGN">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="1">
        <xsd:element name="burgerservicenummer" type="qf4:Burgerservicenummer-v02" />
        <xsd:element name="onderwijsnummer" type="qf4:Onderwijsnummer" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OntvangstBevestiging">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="Bedrijfsdocument">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ontvangstBevestiging" type="qf4:OntvangstBevestiging-v01" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ZonderPGN">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="achternaam" type="qf4:Geslachtsnaam-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="voorvoegsels" type="qf4:Voorvoegsels-v02" />
      <xsd:element minOccurs="0" maxOccurs="1" name="voornamen" type="qf4:Voornamen-v03" />
      <xsd:choice minOccurs="1" maxOccurs="1">
        <xsd:element name="buitenlandsAdres" type="BuitenlandsAdres" />
        <xsd:element name="binnenlandsAdres" type="BinnenlandsAdres" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="IdentificatieBedrijfsdocument">
    <xsd:annotation>
      <xsd:documentation>
FormaatKarakterset: AN
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="qf3:TekstType">
      <xsd:minLength value="36" />
      <xsd:maxLength value="36" />
      <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>